@media (min-width:800px) {
    main {
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0 1rem 15rem 1rem;
        height: 110vh;
    }

    .main-header {
        width: 60%;
    }

    .main-header h1 {
        font-size: 3rem;
    }

    .main-header p {
        font-size: 1.5rem;
    }

    nav span {
        display: inline;
    }

    .contato-header h3 {
        font-size: 0.8rem;
    }

    .contato-header h2 {
        font-weight: 400;
        padding: 0 4rem;
        font-size: 3rem;
        line-height: 4rem;
    }

    .services-card1 {
        flex-direction: row;
        height: 70vh;
        width: 95vw;
        align-items: center;
        justify-content: space-between;
    }

    .header-card1 h2 {
        padding: 0;
    }

    .header-card1 {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

    }

    .services-card2 {
        flex-direction: row-reverse;
        height: 70vh;
        width: 95vw;
        align-items: center;
        justify-content: space-between;
    }

    .header-card2 h2 {
        padding: 0;
    }

    .services-card3 {
        flex-direction: row;
        height: 70vh;
        width: 95vw;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .header-card3 h2 {
        padding: 0;
    }

    .img-card3 {
        padding-left: 2rem;
    }

    .clients-container {
        box-shadow: 0 0 0;
        padding: 5rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .clients-container h2 {
        font-size: 2.7rem;
        text-align: center;
        margin-bottom: 4rem;
        width: 100%;
    }

    .clients-margaret {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: 0 auto;
    }

    .clients-paragrafo p {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #2E4F21;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }

   
.clients-container {
    box-shadow: 0 0 0;
    padding: 5rem 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-container h2 {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 4rem;
    width: 100%;
}

.clients-margaret {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 4rem;
    width: auto; 
    margin: 0 auto;
}

.clients-infos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 350px; 
}

.designer, .commercial, .stylist {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
}


.designer {
    background-color: #2E4F21;
}
.designer h5 { color: #fff; }
.designer p { color: #a5ba9e; }

.commercial, .stylist {
    background-color: #fff;
}
.commercial h5, .stylist h5 { color: #2E4F21; }
.commercial p, .stylist p { color: #7D9276; }

.margaret-perfil {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .margaret {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.margaret img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

    .clients-infos {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 350px;
    }

    .designer,
    .commercial,
    .stylist {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border-radius: 0.5rem;
        padding: 1.5rem;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
    }

    .designer h5 {
        color: #fff;
    }

    .designer p {
        color: #a5ba9e;
    }

    .commercial,
    .stylist {
        background-color: #fff;
    }

   .commercial h5, .stylist h5 { color: #2E4F21; }
.commercial p, .stylist p { color: #7D9276; }

    .stylist h5 {
        color: #2E4F21;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
    }

    .custom {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 8rem 2rem;
    }

    .img-custom {
        width: 45vw;
        height: 65vh;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-card {
        width: 45vw;
        height: 55vh;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}