@media (min-width:800px) {
    main {
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0 1rem 15rem 1rem;
        height: 110vh;
    }

    .main-header {
        width: 60%;
    }

    .main-header h1 {
        font-size: 3rem;
    }

    .main-header p {
        font-size: 1.5rem;
    }

    nav span {
        display: inline;
    }

    .contato-header h3 {
        font-size: 0.8rem;
    }

    .contato-header h2 {
        font-weight: 400;
        padding: 0 4rem;
        font-size: 3rem;
        line-height: 4rem;
    }

    .services-card1 {
        flex-direction: row;
        height: 70vh;
        width: 95vw;
        align-items: center;
        justify-content: space-between;
    }

    .header-card1 h2 {
        padding: 0;
    }

    .header-card1 {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

    }

    .services-card2 {
        flex-direction: row-reverse;
        height: 70vh;
        width: 95vw;
        align-items: center;
        justify-content: space-between;
    }

    .header-card2 h2 {
        padding: 0;
    }

    .services-card3 {
        flex-direction: row;
        height: 70vh;
        width: 95vw;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .header-card3 h2 {
        padding: 0;
    }

    .img-card3{
        padding-left: 2rem;
    }

    .clients-container {
        box-shadow: 0 0 0;
        padding-bottom: 40rem;
    }

    .clients-container h2 {
        font-size: 2.7rem;
    }

    .clients-margaret {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        padding-top: 1rem;
    }

    .margaret-perfil {
        width: 50%;
    }

    .clients-infos {
        flex-direction: column;
        gap: 3rem;
    }

    .designer {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #2E4F21;
        border-radius: 0.3rem;
        padding: 1.4rem;
        width: 30vw;
    }

    .designer h5 {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
    }

    .commercial{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #fff;
        border-radius: 0.3rem;
        padding: 1.4rem;
        width: 30vw;
    }

    .commercial h5{
        color: #2E4F21;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        width: 130%;
    }

    .stylist{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #fff;
        border-radius: 0.3rem;
        padding: 1.4rem;
        width: 30vw;
    }

    .stylist h5{
        color: #2E4F21;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
    }

    .custom{
        display: flex;
        flex-direction: row-reverse; 
        align-items: center;       
        justify-content: center;   
        gap: 2rem;                
        padding: 8rem 2rem;         
    }

    .img-custom {
        width: 45vw;                
        height: 65vh;              
        border-radius: 1rem;       
        display: flex;              
        align-items: center;
        justify-content: center;
    }

    .custom-card {
        width: 45vw;
        height: 55vh;
        margin-top: 0;              
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}