@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #A0F1BD;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #2E4F21;
    font-size: 1.3rem;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all 0.5s ease;
    display: none;
}

nav span {
    display: none;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
}

.link-services {
    color: #2E4F21;
    font-weight: 600;
}

.link-services:hover {
    text-decoration: underline;
}

.link-book {
    color: #fff;
    background-color: #2E4F21;
    padding: 1rem;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.link-book:hover {
    background-color: #3A5A28;
    transform: scale(105%);
    cursor: pointer;
}

main {
    background-color: #A0F1BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
}

main img {
    width: 370px;
}

main h1 {
    color: #2E4F21;
    text-align: left;
    padding: 3rem 1rem 0.5rem;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -1px;
}

main p {
    color: #2E4F21;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
}

.link-main-header {
    width: 14rem;
    background-color: #2E4F21;
    margin-left: 1rem;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    transition: all 0.5s ease;
}

.link-main-header a {
    text-decoration: none;
    color: #fff;
}

.link-main-header:hover {
    background-color: #3A5A28;
    transform: scale(105%);
    cursor: pointer;
}

.contato-container {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.contato-header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.contato-header h3 {
    color: #2E4F21;
}

.contato-header h2 {
    color: #2E4F21;
    font-size: 2.6rem;
    font-weight: 350;
    padding: 0 1rem;
    font-family: "Poppins", sans-serif;
}

.contato-header p {
    color: #2E4F21;
    font-size: 1rem;
    padding: 0 1rem;
}

.contato-header a {
    background-color: #2E4F21;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 5rem;
    transition: all 0.5s ease;
}

.contato-header a:hover {
    background-color: #3A5A28;
    transform: scale(105%);
    cursor: pointer;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-card1,
.services-card2,
.services-card3 {
    background-color: #D1F7DE;
    border-radius: 2rem;
    margin: 2rem auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    height: auto;
}

.services-card1 img,
.services-card2 img,
.services-card3 img {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img-card1 {
    padding-top: 2rem;
}

.header-card1, .header-card2, .header-card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
    text-align: center;
}

.header-card1 h2, .header-card2 h2, .header-card3 h2 {
    color: #2E4F21;
    font-weight: 500;
    font-size: 2.2rem;
    font-family: "Poppins", sans-serif;
}

.header-card1 p, .header-card2 p, .header-card3 p {
    color: #2E4F21;
    font-size: 1.1rem;
    line-height: 1.5;
}

.info-card1,
.info-card2,
.info-card3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
}

.info-card1 p,
.info-card2 p,
.info-card3 p {
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-card2 {
    padding-top: 5rem;
}

.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-card3 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.clients-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90vw;
    height: auto;
    border-radius: 0.5rem;
    align-items: center;
    margin: 5rem auto 0;
    padding-bottom: 3rem;
}

.clients-header h2 {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 1rem 0;
    font-family: "Poppins", sans-serif;
    color: #2E4F21;
    font-weight: 500;
}

.clients-margaret {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.clients-container h2 {
    font-size: 2rem;
    text-align: center;
    padding: 4.5rem 0.5rem 0 0.5rem;
    font-family: "Poppins", sans-serif;
    color: #2E4F21;
    font-weight: 500;
}

.clients-infos {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 100%;
}

.designer, .commercial {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    flex: 1;
}

.designer h5, .commercial h5 {
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}

.designer p, .commercial p {
    color: #7D9276;
    font-size: 0.7rem;
}

.stylist {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: #2E4F21;
    border-radius: 0.3rem;
    padding: 0.8rem;
    flex: 1;
}

.stylist h5 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}

.stylist p {
    color: #a5ba9e;
    font-size: 0.7rem;
}

.clients-paragrafo p {
    font-weight: 400;
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
}

.margaret-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 1.5rem;
}

.margaret {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Poppins", sans-serif;
    color: #2E4F21;
}

.margaret img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.margaret h5 {
    font-size: 1.1rem;
    font-weight: 400;
}

.img-grande-celular {
    padding-top: 5rem;
}

.img-grande-celular img {
    width: 100%;
}

.finance {
    padding-top: 5rem;
    padding-bottom: 3rem;

}

.finance-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.finance-header h2 {
    font-size: 2.8rem;
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.finance-header p {
    color: #2E4F21;
    font-size: 1.1rem;
}

.finances-freelancers {
    padding-top: 3rem;
    padding-left: 1rem;
    border-top: 1px solid #2E4F21;
}

.freelancers-header {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    gap: 2.5rem;
}

.freelancers-header h2 {
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.freelancers-header h3 {
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.freelancers-header p {
    color: #2E4F21;
    font-size: 1rem;
}

.freelancers-img img {
    width: 45px;
}

.finances-familes {
    padding-top: 5rem;
    padding-left: 1rem;

}

.familes-header {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    gap: 2.5rem;
}

.familes-header h2 {
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.familes-header h3 {
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.familes-header p {
    color: #2E4F21;
    font-size: 1rem;
}

.familes-img img {
    width: 45px;
}

.finances-businesses {
    padding-top: 5rem;
    padding-left: 1rem;

}

.businesses-header {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    gap: 2.5rem;
}

.businesses-header h2 {
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.businesses-header h3 {
    color: #2E4F21;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.businesses-header p {
    color: #2E4F21;
    font-size: 1rem;
}

.businesses-img img {
    width: 45px;
}

.custom {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-custom {
    display: flex;
    justify-content: center;
}

.img-custom img {
    width: 80vw;
}

.custom-card {
    background-color: #2E4F21;
    width: 75vw;
    height: 75vh;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.custom-card h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 0.5rem 3rem;
    line-height: 2.3rem;
}

.custom-card p {
    color: #fff;
    padding: 0 3rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.custom-link {
    padding-top: 0.5rem;
    display: flex;
    align-self: flex-start;
    padding-left: 3rem;
}

.custom-card a {
    background-color: #fff;
    padding: 0.9rem 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #2E4F21;
    transition: all 0.5s ease;
}

.custom-card a:hover {
    transform: scale(105%);
}

.connect {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #fafafa;
    margin-top: 5rem;
}

.connect h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #2E4F21;
    padding: 0 3rem;
    padding-bottom: 6rem;
}

.connect-link {
    display: flex;
    margin: 0 auto;
}

.connect-link a {
    background-color: #2E4F21;
    padding: 1.3rem 3.5rem;
    color: #fff;
    border-radius: 2rem;
    text-decoration: none;
    transition: all 0.5s ease;
}

.connect-link a:hover {
    transform: scale(105%);
    background-color: #3A5A28;
}

footer {
    height: 60vh;
    background-color: #2E4F21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

footer h2 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link-services {
    text-decoration: none;
    color: #fff;
}

.footer-link-services:hover {
    text-decoration: underline;
}

.footer-link-book {
    text-decoration: none;
    background-color: #fff;
    color: #2E4F21;
    border-radius: 2rem;
    padding: 0.8rem 1.2rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.footer-link-book:hover {
    transform: scale(105%);
}

.footer-comercial {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-comercial p {
    color: #fff;
}

.footer-comercial span {
    color: #fff;
}